body {
  color: #000;
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.05 em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/*header*/
.header {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__inner {
  width: 73.125%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.gnav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.gnav__item {
  padding-left: 30px;
}
.gnav__link {
  color: #000;
}

/*common*/
/*info*/
.info__category {
  color: #898989;
  font-size: 12px;
}
.info__title {
  font-size: 38px;
  font-weight: normal;
}
.info__title::after {
  content: "";
  display: block;
  width: 120px;
  padding-top: 30px;
  border-bottom: 1px solid #000;
  margin-bottom: 60px;
}
.info__texts {
  width: 59.8290598291%;
}
.info__text {
  font-family: "Yu Gothic", "Helvetica", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
.info__Entext {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  padding-top: 40px;
  padding-bottom: 60px;
}

/*card*/
.card__title {
  font-size: 20px;
  line-height: 26/20;
  padding: 30px 0 15px;
}
.card__cate {
  font-size: 12px;
  color: #898989;
}
.card__text {
  padding-top: 40px;
  font-family: "Yu Gothic", "Helvetica", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

/*block*/
.block__category {
  background-color: #E40065;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  color: #fff;
  padding: 0 13px;
  font-family: "Yu Gothic", "Helvetica", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 12px;
  margin: 30px 0;
}
.block__text {
  font-family: "Yu Gothic", "Helvetica", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 20px;
}

/*main*/
/*works*/
.works {
  padding-top: 100px;
  padding-bottom: 100px;
}
.works__inner {
  width: 73.125%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*project*/
.project {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FDF8EB;
}
.project__inner {
  width: 73.125%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.project__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*company*/
.company {
  margin-top: 200px;
  margin-bottom: 100px;
}
.company__inner {
  width: 73.125%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.company__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.company__item {
  color: #fff;
  font-family: "Yu Gothic", "Helvetica", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  padding: 150px 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg_project01.jpg);
  margin-bottom: 60px;
}
.company__item:last-child {
  padding: 150px 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg_project02.jpg);
}

.information {
  background-color: #FDF8EB;
  padding: 100px 0 125px;
}
.information__inner {
  width: 73.125%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.information__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*footer*/
.footer {
  padding: 78px 0 200px;
  text-align: right;
}
.footer__inner {
  width: 73.125%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.footer__copy {
  font-size: 12px;
  color: #898989;
  font-weight: bold;
  font-family: "Yu Gothic", "Helvetica", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
/*# sourceMappingURL=style.css.map */